<div class="container">
    <mat-card>
        <form class="example-form">
            <div class="row">
                <div class="item1">
                    <mat-form-field>
                        <mat-label>Nome da Plantação</mat-label>
                        <input matInput placeholder="Ex. Plantacao 1">
                    </mat-form-field>
                </div>
                <div class="item2">
                    <mat-form-field>
                        <mat-label>Descrição</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="item3">
                    <mat-form-field>
                        <mat-label>Área (m²)</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="item4">
                    <mat-form-field>
                        <mat-label>Cidade</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="item5">
                    <mat-form-field>
                        <mat-label>Estado</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="item1">
                    <mat-form-field>
                        <mat-label>Fase do Plantio</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </mat-card>
</div>