<div class="container">
    <div style="text-align: right;">
        <button mat-raised-button color="primary" routerLink="/pragas/cadastro">
            <mat-icon>control_point</mat-icon>
            Cadastrar nova praga
        </button>
    </div>
    <br>
    <div class="mat-elevation-z8">
        <div class="table-container">
            <table mat-table [dataSource]="data" class="example-table" matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
                <!-- Number Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Nome</th>
                    <td mat-cell *matCellDef="let row">{{row.name}}</td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef>Descrição</th>
                    <td mat-cell *matCellDef="let row">{{row.description}}</td>
                </ng-container>

                <ng-container matColumnDef="na_phase_v">
                    <th mat-header-cell *matHeaderCellDef>Numero de ação fase V</th>
                    <td mat-cell *matCellDef="let row">{{row.na_phase_v}}</td>
                </ng-container>

                <ng-container matColumnDef="na_phase_r">
                    <th mat-header-cell *matHeaderCellDef>Numero de ação fase R</th>
                    <td mat-cell *matCellDef="let row">{{row.na_phase_r}}</td>
                </ng-container>

                <ng-container matColumnDef="initial_phase">
                    <th mat-header-cell *matHeaderCellDef>Fase de ataque inicial</th>
                    <td mat-cell *matCellDef="let row">{{row.initial_phase}}</td>
                </ng-container>

                <ng-container matColumnDef="end_phase">
                    <th mat-header-cell *matHeaderCellDef>Fase de ataque final</th>
                    <td mat-cell *matCellDef="let row">{{row.end_phase}}</td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-icon-button color="primary">
                            <mat-icon>remove_red_eye</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="removerItem(row)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>

        <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>
    </div>
</div>