<mat-drawer-container class="example-container mat-typography" autosize>
    <mat-drawer #drawer mode="side" disableClose="true" opened="true" *ngIf="mostrarMenu">
        <button mat-mini-fab (click)="isExpanded = !isExpanded" color="primary" style="margin: 10px;">
            <mat-icon aria-label="Menu">menu</mat-icon>
        </button>
        <mat-nav-list>
            <mat-list-item routerLink="/dashboard" [routerLinkActive]="['is-active']">
                <mat-icon mat-list-icon>bar_chart</mat-icon>
                <h4 mat-line *ngIf="isExpanded">Dashboard</h4>
            </mat-list-item>
            <mat-list-item routerLink="/plantio" [routerLinkActive]="['is-active']">
                <mat-icon mat-list-icon>eco</mat-icon>
                <h4 mat-line *ngIf="isExpanded">Plantio</h4>
            </mat-list-item>
            <mat-list-item routerLink="/pragas" [routerLinkActive]="['is-active']">
                <mat-icon mat-list-icon>pest_control</mat-icon>
                <h4 mat-line *ngIf="isExpanded">Controle de Pragas</h4>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>history</mat-icon>
                <h4 mat-line *ngIf="isExpanded">Historico de Plantação</h4>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>warning</mat-icon>
                <h4 mat-line *ngIf="isExpanded">Gerenciamento de Inceticidas</h4>
            </mat-list-item>
            <mat-list-item (click)="logout()">
                <mat-icon mat-list-icon>power_settings_new</mat-icon>
                <h4 mat-line *ngIf="isExpanded">Sair</h4>
            </mat-list-item>
        </mat-nav-list>
    </mat-drawer>

    <div class="example-sidenav-content" style="height: 100vh;">
        <mat-toolbar color="primary" *ngIf="mostrarMenu">
            <mat-toolbar-row>
                <mat-icon mat-list-icon>{{icon}}</mat-icon>
                <h4 mat-line> {{title}}</h4>
                <span class="menu-spacer"></span>
                <div fxShow="true" fxHide.lt-md style="flex: 1 1 auto; text-align: right;">
                    <a href="#" mat-button>
                        <mat-icon mat-list-icon>miscellaneous_services</mat-icon>
                    </a>
                    <a href="#" mat-button>
                        <mat-icon mat-list-icon>notifications</mat-icon>
                    </a>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>