<div class="container">
    <div style="text-align: right;">
        <button mat-raised-button color="primary" routerLink="/plantio/cadastro">
            <mat-icon>control_point</mat-icon>
            Nova Plantação
        </button>
    </div>
    <br>
    <div class="mat-elevation-z8">
        <div class="table-container">
            <table mat-table [dataSource]="data" class="example-table" matSort matSortActive="created"
                matSortDisableClear matSortDirection="desc">
                <!-- Number Column -->
                <ng-container matColumnDef="nome">
                    <th mat-header-cell *matHeaderCellDef>Nome</th>
                    <td mat-cell *matCellDef="let row">{{row.nome}}</td>
                </ng-container>

                <ng-container matColumnDef="descricao">
                    <th mat-header-cell *matHeaderCellDef>Descrição</th>
                    <td mat-cell *matCellDef="let row">{{row.descricao}}</td>
                </ng-container>

                <ng-container matColumnDef="area">
                    <th mat-header-cell *matHeaderCellDef>Área</th>
                    <td mat-cell *matCellDef="let row">{{row.area}}</td>
                </ng-container>

                <ng-container matColumnDef="cidade">
                    <th mat-header-cell *matHeaderCellDef>Cidade</th>
                    <td mat-cell *matCellDef="let row">{{row.cidade}}</td>
                </ng-container>

                <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef>Estado</th>
                    <td mat-cell *matCellDef="let row">{{row.estado}}</td>
                </ng-container>

                <ng-container matColumnDef="fase_plantio">
                    <th mat-header-cell *matHeaderCellDef>Fase do plantio</th>
                    <td mat-cell *matCellDef="let row">{{row.fase_plantio}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>

        <mat-paginator [length]="resultsLength" [pageSize]="30"></mat-paginator>
    </div>
</div>