<div class="container">
    <div class="row">
        <div class="item1">
            <mat-card>
                <mat-card-header></mat-card-header>
                <mat-card-content>
                    <app-bar-chart></app-bar-chart>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="item2">
            <mat-card>
                <mat-card-header></mat-card-header>
                <mat-card-content>
                    <app-doughnut-chart></app-doughnut-chart>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="item3">
            <mat-card>
                <mat-card-header></mat-card-header>
                <mat-card-content>
                    <app-radar-chart></app-radar-chart>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="item1">
            <mat-card>
                <mat-card-header></mat-card-header>
                <mat-card-content>
                    <app-line-chart></app-line-chart>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>